.subtitol{
  text-align: center;
}
.a_component_index{
  text-decoration: none;
  color: #000000;
  border: solid 3px #00aeff;
  border-radius: 10px;
  text-align: center;
  padding: 10px 5px;
}
.a_component_index:hover{
  background-color: #b6d0db;
}
.component{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.component div{
  width: 40%;
}
.component h3{
  text-align: center;
}
.component div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
}
.img_30{
  width: 30%;
}
